/*-- scss:defaults --*/

  // fonts
$font-family-sans-serif: "Roboto";
$font-size: '28px';

// colors
$body-bg: #efefef !default;
  $body-color: #000 !default;
  $link-color: #51483d !default;
  $selection-bg: #26351c !default;

  // headings
$presentation-heading-font: "Lobster";
$presentation-heading-font-weight: normal;
$presentation-heading-color: #1d0087 !default;


  /*-- scss:rules --*/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: var(--r-heading-margin);
	color: var(--r-heading-color);

	font-family: var(--r-heading-font);
	font-weight: var(--r-heading-font-weight);
	line-height: var(--r-heading-line-height);
	letter-spacing: var(--r-heading-letter-spacing);

	text-transform: var(--r-heading-text-transform);
	text-shadow: var(--r-heading-text-shadow);

	word-wrap: break-word;
}


.reveal a {
  line-height: 1.3em;
}

.reveal code {
  font-size: 32px;
  font-family: 'Source Code Pro';
}

.reveal p {
  font-size: 32px;
  color: #09031f;
  font-family: 'Source Code Pro';
}

.reveal ul {
  font-size: 32px;
  font-family: 'Source Code Pro';
	list-style-type: disc;
}

.reveal ul ul {
  color: #3c278a;
	list-style-type: circle;
}

.reveal ul ul ul {
	list-style-type: square;
}




